invoice_extraction_human_in_loop_cradl/47_invoice_extraction_human_in_loop_cradl.json
{
  "id": "YNjXTXnvpFdWW1Ao",
  "name": "PDF invoice data extraction with human-in-the-loop from GMail to Google Sheets",
  "tags": [],
  "nodes": [
    {
      "id": "4dfaa619-a6f9-4122-ade0-35c83a80994b",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        528,
        176
      ],
      "parameters": {
        "simple": false,
        "filters": {
          "q": "has:attachment subject:invoice",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "06f5c847-bcd8-4e59-8105-8ef52fe8e2b4",
      "name": "Filter PDF attachments",
      "type": "n8n-nodes-base.code",
      "position": [
        752,
        176
      ],
      "parameters": {
        "jsCode": "let results = [];\n\nfor (const item of $input.all()) {\n  for (key of Object.keys(item.binary)) {\n     if (item.binary[key].fileExtension === \"pdf\") { \n      results.push({\n            json: {\n                fileName: item.binary[key].fileName,\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n       } \n    }\n  \n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "1edb5ef8-6d08-42e7-9e5a-04f1ea3e74f5",
      "name": "Add invoice line to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1648,
        176
      ],
      "parameters": {
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "documentId": {
          "__rl": true,
          "mode": "list"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "bd9f8503-d8f1-4bbe-9031-cbc9bced3ca4",
      "name": "Mark a message as read",
      "type": "n8n-nodes-base.gmail",
      "position": [
        624,
        384
      ],
      "webhookId": "f5563794-d977-4bc4-a950-f11ca5b11029",
      "parameters": {
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "operation": "markAsRead"
      },
      "typeVersion": 2.2
    },
    {
      "id": "f35fd706-2b80-4dd3-bd67-d04b8556dbcd",
      "name": "Extract invoice details with AI",
      "type": "@cradl/n8n-nodes-cradlai.cradlAi",
      "position": [
        1120,
        176
      ],
      "webhookId": "1999cf96-f246-46f1-a0d9-92dad756dd02",
      "parameters": {
        "agentId": "cradl:agent:556e3aa0d2214b6c899c631b78a5cd43",
        "documentBinaryData": "data"
      },
      "typeVersion": 1
    },
    {
      "id": "44382756-645b-43a6-ac4b-8c857e4a71af",
      "name": "Split out each invoice line",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1472,
        176
      ],
      "parameters": {
        "include": "allOtherFields",
        "options": {},
        "fieldToSplitOut": "body.output.invoice_lines"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "6269e7c4-ba42-4a78-95df-8321480b01eb",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter PDF attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDF attachments": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract invoice details with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Split out each invoice line": {
      "main": [
        [
          {
            "node": "Add invoice line to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract invoice details with AI": {
      "main": [
        [
          {
            "node": "Split out each invoice line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
