seo_competitor_intelligence_pipeline/22_seo_competitor_intelligence_pipeline.json
{
  "id": "seoPipeline10",
  "meta": {
    "instanceId": "REPLACE_WITH_INSTANCE_ID",
    "templateCredsSetupCompleted": false
  },
  "name": "SEO & Competitor Intelligence Reporting Pipeline",
  "tags": [
    "client-project",
    "ai-automation",
    "seo"
  ],
  "nodes": [
    {
      "id": "e0000000-0000-0000-0000-000000000001",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -360
      ],
      "parameters": {
        "color": 7,
        "width": 700,
        "height": 560,
        "content": "## 📈 SEO & Competitor Intelligence Reporting Pipeline\n\nA weekly scheduled trigger runs the full pipeline: rank data from the SEMrush API, traffic from GA4, competitor changes via a scraper node. An LLM summarizes the biggest movers and anomalies in plain language, and the formatted report lands in Slack and email every Monday morning.\n\n## Setup (about 15 minutes)\n1. Connect SEMrush, GA4 and OpenAI credentials.\n2. Point *Scrape Competitor Pages* at the URLs you track.\n3. Set the client email in *Email Report* and the agency Slack channel in *Post to Slack*."
      },
      "typeVersion": 1
    },
    {
      "id": "e0000000-0000-0000-0000-000000000002",
      "name": "Every Monday 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -160,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000003",
      "name": "Fetch SEMrush Rankings",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        -140
      ],
      "parameters": {
        "url": "https://api.semrush.com/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "domain_organic"
            },
            {
              "name": "domain",
              "value": "REPLACE_WITH_DOMAIN"
            },
            {
              "name": "export_columns",
              "value": "Ph,Po,Pp,Nq,Ur"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "SEMrush API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "typeVersion": 4.2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000004",
      "name": "Fetch GA4 Traffic",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/YOUR_GA4_PROPERTY_ID:runReport",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { dateRanges: [{ startDate: \"7daysAgo\", endDate: \"today\" }], dimensions: [{ name: \"landingPagePlusQueryString\" }], metrics: [{ name: \"sessions\" }, { name: \"organicGoogleSearchClicks\" }] } }}",
        "options": {
          "timeout": 15000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "GA4 API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "typeVersion": 4.2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000005",
      "name": "Scrape Competitor Pages",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        140
      ],
      "parameters": {
        "url": "=REPLACE_WITH_COMPETITOR_URL",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "typeVersion": 4.2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000006",
      "name": "Combine Intelligence",
      "type": "n8n-nodes-base.merge",
      "position": [
        320,
        0
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "numberInputs": 3,
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000007",
      "name": "Compute Movers & Anomalies",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        0
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst semrush = $('Fetch SEMrush Rankings').first()?.json || {};\nconst ga4 = $('Fetch GA4 Traffic').first()?.json || {};\nconst competitorHtml = $('Scrape Competitor Pages').first()?.json?.data || '';\nconst competitorHash = require('crypto').createHash('md5').update(String(competitorHtml)).digest('hex');\nconst previousHash = staticData.lastCompetitorHash;\nconst competitorChanged = previousHash ? previousHash !== competitorHash : false;\nstaticData.lastCompetitorHash = competitorHash;\nreturn [{ json: { semrush, ga4, competitorChanged } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "e0000000-0000-0000-0000-000000000008",
      "name": "Summarize Movers (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        800,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=SEO data this week: {{ JSON.stringify($json) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are an SEO analyst. Summarize the biggest ranking movers, traffic anomalies, and whether a competitor page changed, in 4-5 plain-language sentences suitable for a Monday morning report. Call out the single most important thing to act on."
        }
      },
      "typeVersion": 1.7
    },
    {
      "id": "e0000000-0000-0000-0000-000000000009",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        800,
        180
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "e0000000-0000-0000-0000-00000000000a",
      "name": "Email Report",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1040,
        -100
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "client@REPLACE_WITH_CLIENT_DOMAIN.com",
        "subject": "=Weekly SEO & Competitor Intelligence — {{ $now.toFormat('dd LLL yyyy') }}",
        "emailType": "html",
        "message": "={{ '<p>' + $json.output.replace(/\\n/g, '<br>') + '</p>' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "typeVersion": 2.1
    },
    {
      "id": "e0000000-0000-0000-0000-00000000000b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1040,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_CHANNEL_ID",
          "cachedResultName": "seo-reports"
        },
        "text": "=📈 Weekly SEO Report:\\n{{ $json.output }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "e0000000-0000-0000-0000-00000000000c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -160,
        400
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "e0000000-0000-0000-0000-00000000000d",
      "name": "Notify Ops",
      "type": "n8n-nodes-base.slack",
      "position": [
        80,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_CHANNEL_ID",
          "cachedResultName": "ops-alerts"
        },
        "text": "=🚨 SEO & Competitor Intelligence Pipeline failed: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "versionId": "seo-pipeline-v1",
  "connections": {
    "Every Monday 7am": {
      "main": [
        [
          {
            "node": "Fetch SEMrush Rankings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch GA4 Traffic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Competitor Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SEMrush Rankings": {
      "main": [
        [
          {
            "node": "Combine Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GA4 Traffic": {
      "main": [
        [
          {
            "node": "Combine Intelligence",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Scrape Competitor Pages": {
      "main": [
        [
          {
            "node": "Combine Intelligence",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine Intelligence": {
      "main": [
        [
          {
            "node": "Compute Movers & Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Movers & Anomalies": {
      "main": [
        [
          {
            "node": "Summarize Movers (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Movers (AI Agent)": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Movers (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
