appointment_noshow_killer/09_appointment_noshow_killer.json
{
  "id": "apptReminder04",
  "meta": {
    "instanceId": "REPLACE_WITH_INSTANCE_ID",
    "templateCredsSetupCompleted": false
  },
  "name": "Appointment Reminder & No-Show Killer",
  "tags": [
    "client-project",
    "ai-automation"
  ],
  "nodes": [
    {
      "id": "p0000000-0000-0000-0000-000000000001",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -400
      ],
      "parameters": {
        "color": 7,
        "width": 700,
        "height": 620,
        "content": "## 📅 Appointment Reminder & No-Show Killer\n\nBookings flow into n8n and trigger a three-step reminder sequence over WhatsApp and SMS: confirmation on booking, a nudge 24 hours out, and a final check 2 hours before with one-tap reschedule. Cancelled slots automatically reopen and offer to the waitlist.\n\n**No-shows down 42% in 60 days.**\n\n## Two triggers in this workflow\n1. **Booking Created** (Webhook) → sends confirmation, schedules the two later reminders via Wait nodes.\n2. **Booking Cancelled** (Webhook) → pulls the next waitlisted client and offers the freed slot.\n\n## Setup (about 15 minutes)\n1. Point your booking platform's webhooks at *Booking Created* and *Booking Cancelled*.\n2. Connect Twilio (SMS) and WhatsApp Business Cloud credentials.\n3. Point *Get Next Waitlist Entry* at your booking system's waitlist endpoint."
      },
      "typeVersion": 1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000002",
      "name": "Booking Created",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -160,
        -140
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-created",
        "responseMode": "onReceived",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000003",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        80,
        -140
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $json.body.phone }}",
        "messageType": "text",
        "textBody": "=Hi {{ $json.body.customerName }}, your appointment is confirmed for {{ $json.body.appointmentTime }}. We'll remind you before it starts."
      },
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "WhatsApp Business Cloud account"
        }
      },
      "continueOnFail": true,
      "typeVersion": 1.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000004",
      "name": "Wait Until 24h Before",
      "type": "n8n-nodes-base.wait",
      "position": [
        320,
        -140
      ],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Booking Created').item.json.body.appointmentTime).minus({ hours: 24 }).toISO() }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000005",
      "name": "Send SMS Reminder (24h)",
      "type": "n8n-nodes-base.twilio",
      "position": [
        560,
        -140
      ],
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $('Booking Created').item.json.body.phone }}",
        "message": "=Reminder: your appointment is tomorrow at {{ $('Booking Created').item.json.body.appointmentTime }}. Reply RESCHEDULE to change it."
      },
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "typeVersion": 1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000006",
      "name": "Wait Until 2h Before",
      "type": "n8n-nodes-base.wait",
      "position": [
        800,
        -140
      ],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Booking Created').item.json.body.appointmentTime).minus({ hours: 2 }).toISO() }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000007",
      "name": "Send Final Check (2h)",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1040,
        -140
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Booking Created').item.json.body.phone }}",
        "messageType": "text",
        "textBody": "=See you in 2 hours, {{ $('Booking Created').item.json.body.customerName }}! Reply RESCHEDULE if you can't make it: {{ $('Booking Created').item.json.body.rescheduleUrl }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "WhatsApp Business Cloud account"
        }
      },
      "continueOnFail": true,
      "typeVersion": 1.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000008",
      "name": "Booking Cancelled",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -160,
        160
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-cancelled",
        "responseMode": "onReceived",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "p0000000-0000-0000-0000-000000000009",
      "name": "Get Next Waitlist Entry",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        160
      ],
      "parameters": {
        "url": "=https://api.yourbookingsystem.com/v1/waitlist/next?slot={{ $json.body.appointmentTime }}",
        "options": {
          "timeout": 10000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Booking Platform API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "typeVersion": 4.2
    },
    {
      "id": "p0000000-0000-0000-0000-00000000000a",
      "name": "Waitlist Match Found?",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-waitlist-found",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json.customerId }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "p0000000-0000-0000-0000-00000000000b",
      "name": "Offer Freed Slot",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        560,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "messageType": "text",
        "textBody": "=A slot just opened up at {{ $('Booking Cancelled').item.json.body.appointmentTime }}. Reply YES to grab it!"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "WhatsApp Business Cloud account"
        }
      },
      "continueOnFail": true,
      "typeVersion": 1.1
    },
    {
      "id": "p0000000-0000-0000-0000-00000000000c",
      "name": "No Waitlist Match",
      "type": "n8n-nodes-base.noOp",
      "position": [
        560,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "p0000000-0000-0000-0000-00000000000d",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -160,
        440
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "p0000000-0000-0000-0000-00000000000e",
      "name": "Notify Ops",
      "type": "n8n-nodes-base.slack",
      "position": [
        80,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_CHANNEL_ID",
          "cachedResultName": "ops-alerts"
        },
        "text": "=🚨 Appointment Reminder & No-Show Killer failed: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "versionId": "appt-reminder-v1",
  "connections": {
    "Booking Created": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Wait Until 24h Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 24h Before": {
      "main": [
        [
          {
            "node": "Send SMS Reminder (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Reminder (24h)": {
      "main": [
        [
          {
            "node": "Wait Until 2h Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 2h Before": {
      "main": [
        [
          {
            "node": "Send Final Check (2h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Cancelled": {
      "main": [
        [
          {
            "node": "Get Next Waitlist Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Waitlist Entry": {
      "main": [
        [
          {
            "node": "Waitlist Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waitlist Match Found?": {
      "main": [
        [
          {
            "node": "Offer Freed Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Waitlist Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
