ai_content_repurposing_social_publishing/19_ai_content_repurposing_social_publishing.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 🔁 AI Content Repurposing & Social Publishing System\n\nOne long-form input (blog post or podcast transcript) triggers the workflow. An LLM generates platform-specific versions: LinkedIn post, X thread, Instagram caption. Buffer schedules each post at staggered times, and weekly performance data flows back into Google Sheets. Zero manual scheduling.\n\n## Two triggers in this workflow\n1. **Content Submitted** (Webhook) → generates variants → schedules via Buffer.\n2. **Weekly Performance Pull** (Schedule, Monday 9am) → pulls Buffer analytics → logs to Sheets.\n\n## Setup (about 15 minutes)\n1. Connect OpenAI and Buffer API credentials.\n2. Set your Buffer profile IDs in *Schedule to Buffer*.\n3. Connect the Google Sheet used for logging + performance tracking.",
        "height": 600,
        "width": 700,
        "color": 7
      },
      "id": "6c5ad649-9ee0-46ed-bd29-48f848569f11",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4608,
        -6128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-repurpose",
        "options": {}
      },
      "id": "17e306f6-a26d-480e-bb6b-5032799d9192",
      "name": "Content Submitted",
      "type": "n8n-nodes-base.webhook",
      "position": [
        5488,
        -6096
      ],
      "typeVersion": 2.1,
      "webhookId": "c749a7ca-47d8-43a5-8fac-0ed8354abbb8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Source content:\\n\\n{{ $json.body.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You repurpose long-form content into platform-native social posts. Produce a LinkedIn post (professional tone, 100-150 words), an X/Twitter thread (5-7 tweets, numbered array), and an Instagram caption (casual tone, with 5 relevant hashtags)."
        }
      },
      "id": "8b0ed246-9c6a-4c39-aa5f-a3323448446a",
      "name": "Generate Platform Variants (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        5728,
        -6096
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2bc065b0-e70f-43f6-abb8-4cba28a674c7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        5712,
        -5920
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "WdpcmOEDSJItGCUY",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"linkedin\": { \"type\": \"string\" },\n    \"xThread\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"instagram\": { \"type\": \"string\" }\n  },\n  \"required\": [\"linkedin\", \"xThread\", \"instagram\"]\n}"
      },
      "id": "e0893399-04d7-4db5-8111-29c976a2596b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        5872,
        -5920
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const o = $json.output;\nconst now = DateTime.now();\nreturn [\n  { json: { platform: 'linkedin', profileId: 'REPLACE_WITH_BUFFER_LINKEDIN_PROFILE_ID', content: o.linkedin, scheduledAt: now.plus({ hours: 1 }).toISO() } },\n  { json: { platform: 'twitter', profileId: 'REPLACE_WITH_BUFFER_TWITTER_PROFILE_ID', content: o.xThread.join('\\n\\n'), scheduledAt: now.plus({ hours: 4 }).toISO() } },\n  { json: { platform: 'instagram', profileId: 'REPLACE_WITH_BUFFER_INSTAGRAM_PROFILE_ID', content: o.instagram, scheduledAt: now.plus({ hours: 8 }).toISO() } }\n];"
      },
      "id": "8a10b341-a3b0-4f5a-8747-e22be407788c",
      "name": "Build Scheduling Queue",
      "type": "n8n-nodes-base.code",
      "position": [
        6080,
        -6096
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8047071d-01be-4544-906f-4aaa4ff82f20",
      "name": "Schedule Each Post",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        6304,
        -6096
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "6f241a8f-dabf-4f71-98d4-1461a9313aec",
      "name": "Scheduling Done",
      "type": "n8n-nodes-base.noOp",
      "position": [
        6544,
        -6240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_ids[]",
              "value": "={{ $json.profileId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.content }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ $json.scheduledAt }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "411aec0c-1f47-4d28-a2c3-e235a416f4fd",
      "name": "Schedule to Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6544,
        -6032
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CG98ZH-GqK0Fy-r7swB6AJwDAkWbonpg_J-VXgpTZgY",
          "mode": "list",
          "cachedResultName": "Gre tests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CG98ZH-GqK0Fy-r7swB6AJwDAkWbonpg_J-VXgpTZgY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Scheduled Posts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "platform",
            "scheduledAt"
          ],
          "value": {
            "platform": "={{ $('Schedule Each Post').item.json.platform }}",
            "content": "={{ $('Schedule Each Post').item.json.content }}",
            "scheduledAt": "={{ $('Schedule Each Post').item.json.scheduledAt }}",
            "status": "scheduled"
          },
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "type": "string",
              "canBeUsedToMatch": true,
              "display": true
            },
            {
              "id": "content",
              "displayName": "content",
              "type": "string",
              "canBeUsedToMatch": false,
              "display": true
            },
            {
              "id": "scheduledAt",
              "displayName": "scheduledAt",
              "type": "string",
              "canBeUsedToMatch": true,
              "display": true
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "canBeUsedToMatch": false,
              "display": true
            }
          ]
        },
        "options": {}
      },
      "id": "e4550ae6-7f64-47e8-aa5b-a751eb5bb5ca",
      "name": "Log Scheduled Post",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6768,
        -6032
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UnP62D2DzVysUFFb",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "3f857bef-9609-47a2-88cf-bdc7d4a18576",
      "name": "Weekly Performance Pull",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        5488,
        -5760
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://api.bufferapp.com/1/profiles/analytics.json",
        "options": {
          "timeout": 10000
        }
      },
      "id": "233fdd52-9fbb-4ce6-be24-4b5b9e60ec3b",
      "name": "Fetch Buffer Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5728,
        -5760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CG98ZH-GqK0Fy-r7swB6AJwDAkWbonpg_J-VXgpTZgY",
          "mode": "list",
          "cachedResultName": "Gre tests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CG98ZH-GqK0Fy-r7swB6AJwDAkWbonpg_J-VXgpTZgY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CG98ZH-GqK0Fy-r7swB6AJwDAkWbonpg_J-VXgpTZgY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Student name",
              "displayName": "Student name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course Name",
              "displayName": "Course Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Registration date",
              "displayName": "Registration date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "45578500-2f17-441b-ade8-9500d0822053",
      "name": "Log Weekly Performance",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        5968,
        -5760
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UnP62D2DzVysUFFb",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "e0c82c04-0fbe-4353-b1ad-0efc0c328325",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        5488,
        -5520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_CHANNEL_ID",
          "cachedResultName": "ops-alerts"
        },
        "text": "= AI Content Repurposing System failed: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "id": "0a5228b3-53e5-4228-aee7-bc8936052d53",
      "name": "Notify Ops",
      "type": "n8n-nodes-base.slack",
      "position": [
        5728,
        -5520
      ],
      "typeVersion": 2.3,
      "webhookId": "9575a37c-21ba-4847-8cee-8df04e302bc1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "KmwuYU8S5TfeT2Mf",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Content Submitted": {
      "main": [
        [
          {
            "node": "Generate Platform Variants (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Platform Variants (AI Agent)": {
      "main": [
        [
          {
            "node": "Build Scheduling Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Platform Variants (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Platform Variants (AI Agent)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Build Scheduling Queue": {
      "main": [
        [
          {
            "node": "Schedule Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Each Post": {
      "main": [
        [
          {
            "node": "Scheduling Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule to Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule to Buffer": {
      "main": [
        [
          {
            "node": "Log Scheduled Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Scheduled Post": {
      "main": [
        [
          {
            "node": "Schedule Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Performance Pull": {
      "main": [
        [
          {
            "node": "Fetch Buffer Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Buffer Analytics": {
      "main": [
        [
          {
            "node": "Log Weekly Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "6ab8f18301c57fe5508c3c98c40f1759365371ba574c699a1652064e9d2bc1b3"
  }
}
